<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73942764878-djljc6v9oogsn1206d8oudcsqm7gul2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73942764878-djljc6v9oogsn1206d8oudcsqm7gul2u</string>
	<key>API_KEY</key>
	<string>AIzaSyCLawj_TxZl_ZaY2e_eJcxmB5I-K6Uc2nI</string>
	<key>GCM_SENDER_ID</key>
	<string>73942764878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TalkTalk</string>
	<key>PROJECT_ID</key>
	<string>talktalk-368109</string>
	<key>STORAGE_BUCKET</key>
	<string>talktalk-368109.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73942764878:ios:4de3de1f4a2a633951a21f</string>
</dict>
</plist>